#board {
  height: 460px;
  width: 460px;
  border: 5px solid black;
}

#tracker {
  width: 460px;
}

#tracker-btn {
  float: right;
  background-color: #3387BE;
  color: #E9E0D6;
}

#tracker-reset {
  float: right;
  background-color: #3387BE;
  color: #E9E0D6;
}

#tracker-ldr {
  float: left;
  background-color: #3387BE;
  color: #E9E0D6;
}

.leaderboard {
  float: left;
}